// out: ../css/site.css, sourcemap: false, compress: false

@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");

@base-color: #E86830;
@base-secondary-color: #E5734C;
@base-faded-color: #FFA782;
@accent-color: #219E6C;
@accent-2: #64C59E;

body {
    font-family: "Open Sans", sans-serif;
}

.jumbotron {
    margin-bottom: 0;
}

.global-light {
    font-weight: 300;
}

#splash {
    background-image: url("../img/splash.jpeg");
    background-position: center center;
    background-size: cover;
    text-shadow: 1px 0px 0px #FFF;
}

#splash-blurb {
    margin-bottom: 20px;
}

#splash-title {
    color: @base-color;
    font-family: "Pacifico", sans-serif;
    font-size: 86px;
}

#splash-subtitle {
    color: @base-secondary-color;
    font-size: 20px;
    margin: 30px 0px;
}

#splash-signup {
    input[type="email"] {
        background-color: fade(@base-color, 70%);
    }
}

#splash-mock {
    img {
        width: 100%;
    }
}

#copy {
    background-color: @accent-color;
    color: white;
    padding: 100px 20px;

    p {
        font-size: 18px;
        font-weight: 300;
        line-height: 40px;
        margin: 50px 0;
    }
}

#footer {
    background-color: @base-color;
    padding: 50px 20px;
}

#footer-updates {
    color: white;
    padding: 60px 0px;
}

#footer-updates-form {
    text-align: center;
    width: 100%;

    #mc_embed_signup {
        margin-top: 20px;
    }

    input[type="submit"] {
        border: 1px solid white;
        border-radius: 5px;
        margin-top: 20px;
        &:hover {
            background-color: white;
            color: @base-color;
        }
    }
}

#footer-updates-form-title {
    font-size: 30px;
    margin-bottom: 10px;
}

#footer-social {
    font-size: 30px;
    margin-top: 40px;
    text-align: center;

    a {
        color: white;
        opacity: 0.75;
        &:hover {
            opacity: 1;
        }
    }
}

input[type="email"] {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    text-align: left;
    width: 100%;

    &:focus {
        outline: none;
    }

    &:placeholder-shown {
        color: @base-faded-color;
    }

    &::-webkit-input-placeholder {
        color: white !important;
    }
}

input[type="submit"] {
    background: @base-color;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    padding: 10px;
}

.btn.submit-form {
    background: none;
    border: 1px solid white;
    margin-top: 30px;
    padding: 10px 40px;

    &:hover {
        background-color: white;
        color: @base-color;
    }
}
