@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");
body {
  font-family: "Open Sans", sans-serif;
}
.jumbotron {
  margin-bottom: 0;
}
.global-light {
  font-weight: 300;
}
#splash {
  background-image: url("../img/splash.jpeg");
  background-position: center center;
  background-size: cover;
  text-shadow: 1px 0px 0px #FFF;
}
#splash-blurb {
  margin-bottom: 20px;
}
#splash-title {
  color: #E86830;
  font-family: "Pacifico", sans-serif;
  font-size: 35px;
}
#splash-header {
  color: #E86830;
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: lighter;
}
#splash-subtitle {
  color: #E5734C;
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: lighter;
}
#splash-signup input[type="email"] {
  background-color: rgba(232, 104, 48, 0.7);
}
#splash-mock {
  height: 500px;
}
#splash-mock img {
  width: 100%;
}
#copy {
  background-color: #219E6C;
  color: white;
  padding: 100px 20px;
}
#copy p {
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  margin: 50px 0;
}
#footer {
  background-color: #E86830;
  padding: 50px 20px;
}
#footer-updates {
  color: white;
  padding: 60px 0px;
}
#footer-updates-form {
  text-align: center;
  width: 100%;
}
#footer-updates-form #mc_embed_signup {
  margin-top: 20px;
}
#footer-updates-form input[type="submit"] {
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 20px;
}
#footer-updates-form input[type="submit"]:hover {
  background-color: white;
  color: #E86830;
}
#footer-updates-form-title {
  font-size: 30px;
  margin-bottom: 10px;
}
#footer-social {
  font-size: 30px;
  margin-top: 40px;
  text-align: center;
}
#footer-social a {
  color: white;
  opacity: 0.75;
}
#footer-social a:hover {
  opacity: 1;
}
input[type="email"] {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  text-align: left;
  width: 100%;
}
input[type="email"]:focus {
  outline: none;
}
input[type="email"]:placeholder-shown {
  color: #FFA782;
}
input[type="email"]::-webkit-input-placeholder {
  color: white !important;
}
input[type="submit"] {
  background: none;
  border: 1px solid white;
  margin-top: 30px;
  padding: 10px 40px;
  color: white;
  font-size: 16px;
  /*background: #E86830;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  padding: 10px;*/
}
input[type="submit"]:hover {
  background-color: white;
  color: #E86830;
}
.btn {
  border-radius: 20px;
}
.btn.submit-form {
  background: none;
  border: 1px solid white;
  margin-top: 10px;
}
.btn.submit-form:hover {
  background-color: white;
  color: #E86830;
}
